<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Window</title>
    
    <link rel="stylesheet" href="/static/css/select_window.css"><!-- {{ url_for('static', filename='css/download_data.css') }} -->
</head>
<body class="body">
    <header>
        <h1>Select Window</h1>
    </header>

    <main>
        <p>select your process traceability option:</p>
        <div class="button-group">
            <a href="/new" class="btn btn-primary">TEST</a>
            <a href="/close" class="btn btn-secondary">PROCESS</a>
        </div>
    </main>

    <footer>
        <!-- <button class="btn btn-secondary" id="back-btn" onclick="window.location.href='{{ url_for('index') }}'">Exit</button> -->
    </footer>
</body>